$primary-color: green
$secondary-color: red

h1
    padding: 2px 10px
    font-weight: strong
    font-style: italic
    color: $primary-color

h2
    margin: auto
    color: $secondary-color

$bg-color: #2c3501
$hover-cover: #16a085
$text-color: #ffffff

body
    background-color: $bg-color

nav
    ul
        background-color: $text-color